<div class="card my-3" appHighlight>
    <div class="card-body">
        <form [formGroup]="addPostForm" (submit)="onSubmit()">
            <div class="form-group row">
                <div class="col-9">
                    <textarea
                        class="form-control"
                        name="body"
                        rows=3
                        placeholder="Napisz post"
                        formControlName="body"
                    ></textarea>
                </div>
                <div class="col-2">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        
                    >   
                        Dodaj
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
